.logo_response {
  @media (min-width: 320px) {
    display: block;
    padding: 10px;
    }
  @media (min-width: 1050px){
        display: none;
    }

    .logo-response__link{

      img{
        width: 150px;
        background-size: contain;
        background-position: center;
      }
    }
  }
.spinner {
            box-sizing: border-box;
            cursor: pointer;
            z-index: 102;
            height: 14px;
            width: 18px;
            margin: auto 30px;
            @media (min-width: 320px) {
                display: block;
                margin-left: auto;
            }
            @media (min-width: 1050px){
                    display: none;
                }
            .spinner-line {
                transition: all 0.3s;
                box-sizing: border-box;
                position: absolute;
                height: 2px;
                width: 35px;
                background-color: white;
              }
              .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
              .diagonal.part-1 {
                position: relative;
                transition: all 0.3s;
                box-sizing: border-box;
                float: left;
              }
              .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
              .spinner-line.active.horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                opacity: 0;
                margin-top: 0;
              }
              .spinner-line.active.diagonal.part-1 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(135deg);
                margin-top: 6px;
              }
              .spinner-line.active.diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(-135deg);
                margin-top: -4px;
              }
        } 