@import "spinner";
html{
    overflow-x: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    font-weight: 400;  
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    transition: 1s;
}
ul{
    list-style: none;
}
// --------------------------------------------------------SECTION navigation
.main-nav{
 
    .nav__conteiner{
        background-color: #96d0c4;
        width: 100%;
        position: fixed;
        z-index: 2;

        .main-nav__conteiner{
            display: flex;
            max-width: 1372px;
            margin: auto;

    
            .main-nav__list{
                justify-content: space-between;

                @media (min-width: 320px) {
                    display: none;
                }
                @media (min-width: 1050px){
                        display: flex;
                }

                .main-nav__item{
                    display: block;
                    font-size: 18px;
                    color: #fff;
                    padding: 23px 27px;  
                    margin-right: 60px;

                    &:hover,
                    &:active{
                        background-color: #363636;; 
                    }
                        
                        .dropdown-toggle{
                            position: relative;
                        }
                        
                        .dropdown-toggle:after {
                            position: absolute;
                            width: 9px;
                            height: 9px;
                            top: 5px;
                            left: 10px;
                            display: inline-block;
                            border-left: 2px solid white;
                            border-bottom: 2px solid white;
                            content: '';
                            transition: inherit;
                            transform: rotateZ(-45deg);
                        }

                    &.Brillengläser,
                    &.Brillenfassungen,
                    &.Kontaktlinsen {
                        position: relative;
                    }
                    .Brillengläser-nav__drop,
                    .Brillenfassungen-nav__drop,
                    .Kontaktlinsen-nav__drop{
                        display: none;
                        position: absolute;
                        box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
                        top: 55px;
                        left: 40px;

                        &.modal__show{
                            display: block;
                        }

                        .Brillengläser-nav__drop--item,
                        .Brillenfassungen-nav__drop--item,
                        .Kontaktlinsen-nav__drop--item{
                            border-bottom: 1px solid #363636;
                            background-color: #ffffff;
                            padding: 23px 27px; 
                            cursor: pointer;

                            a{
                                text-decoration: none;
                                background-color: transparent;
                                color: #363636; 
                            }

                            &:hover a,
                            &:focus a{
                                color: #fff;  
                            }
                            &:hover,
                            &:focus{
                                background-color: #363636;     
                            }
                        }
                    }   
                }
                .active{
                    background-color: #363636;;
                }
            }
    
            .main-nav__font-resize{
                align-items: flex-end;
                padding: 23px 0;
                margin-left: auto;
                position: relative;

                @media (min-width: 320px) {
                    display: none;
                }
                @media (min-width: 1050px){
                        display: flex;
                }

                &::before {
                    content: "";
                    background-color: #fff;
                    height: 30px;
                    width: 1px;
                    position: absolute;
                    bottom: calc(50% - 15px);
                    left: -55px;
                }

                p{
                    display: block;
                    color: #ffffff;
                    align-items: center;
                    text-transform: uppercase;
                    padding-left: 7px;

                    
                    &:hover,
                    &:active{
                        color: #363636;; 
                    }

                    &.font-resize__small{
                        font-size: 14px;
                    }
                    &.font-resize__middle{
                        font-size: 16px;
                    }
                    &.font-resize__large{
                        font-size: 18px;
                    }
                }
            }
        }
    } 
}

.nav__contact--conteiner{
    max-width: 1372px;
    margin: auto;
    padding: 112px 0 52px 0;

    @media (min-width: 320px) {
        display: none;
    }
    @media (min-width: 1050px){
            display: flex;
    }

    .nav--contact__list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 109px;
        
        font-size: 16px;
        line-height: 27px; 

        .contact__item--title{
            font-weight: 600;
            margin: 0;
        }
        .contact__item--text{
            position: relative;

            .phone{
                text-decoration: none;
                color: #000;
            }
            .mail{
                color: #66bdaa;
            }

            span{
                position: absolute;
                right: 0;
            }
        }
        
    }
}

// --------------------------------------------------------SECTION SLIDER
.order{
    background-color: #f1ede4;

    .order__conteiner{
        box-sizing: border-box;
        max-width: 1372px;
        margin: auto;

        @media (min-width: 320px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media (min-width: 1050px){
            display: block;
        }

        .order__text{

            @media (min-width: 320px) {
                padding-top: 86px;
            }
            @media (min-width: 1050px){
                padding-top: 153px;
                float: left;
                max-width: 50%;
            }
            
            .order__text--title{
                font-family: "Lora";
                margin-bottom: 20px;

                @media (min-width: 320px) {
                    text-align: center;
                    font-size: 30px;
                }
                @media (min-width: 1050px){
                    font-size: 50px;
                    text-align: unset; //--------------------------------------------------------------------------------------------------------
                }
                
                .order__text--location{
                    font-family: 'Open Sans';
                    padding-bottom: 44px;

                    @media (min-width: 320px) {
                        font-size: 16px;
                        line-height: 20px;

                    }
                    @media (min-width: 1050px){
                        font-size: 35px;
                        line-height: 50px;
                    }
                }               
            }
            .order__text--description{

                @media (min-width: 320px) {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0 20px 20px 20px;
                }
                @media (min-width: 1050px){
                    font-size: 21px;
                    line-height: 35px;
                    padding: 0 0 44px 0;
                }
            }

            .order__text--phone{
                box-sizing: border-box;
                background-color: #363636;
                color: #fff;
                max-width: 597px;

                @media (min-width: 320px) {
                    line-height: 2;
                    padding: 20px 20px;
                    text-align: center;
                }
                @media (min-width: 1050px){
                    padding: 27px 43px 25px 39px;
                    line-height: 1.15;
                    text-align: unset;
                }
                

                .phone__picture{
                    width: 33px;
                    height: 33px;
                    background-image: url(../image/phone.png);
                    background-position: right;
                    padding-left: 40px;
                    background-repeat: no-repeat;
                }
                .phone{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .owl-carousel{
            // padding-top: 100px;

        .owl-nav,
        .owl-dots {
            display: none;
        }
            .picture__conteiner{
                background-size: contain;
                overflow: visible;
                max-width: 934px;
                max-height: 622px;
            }
        }
    }    
}

// --------------------------------------------------------SECTION welcome/individual

.welcome,
.individual{
    max-width: 1372px;
    margin: auto;

    @media (min-width: 320px) {
        padding: 30px 20px;
    }
    @media (min-width: 1050px){
        padding: 150px 0;
    }
    
    a{
        color: #66bdaa;
        text-decoration: none;
    }

    .welcome__title,
    .individual__title{
        text-align: center;
        font-family: "Lora";
        margin: 0  0 10px 0; 

        @media (min-width: 320px) {
            font-size: 28px;
        }
        @media (min-width: 1050px){
            font-size: 32px;
        }
    }
    .individual__title{
        position: relative;
        margin-bottom: 110px; 


        &::before {
            content: "";
            background-color: #b0a99c;
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -51px;
        }
        &::after {
            content: "";
            background-color: #fff;
            background-image: url(../image/eye.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 54px;  
            height: 26px;
            position: absolute;
            left: calc(50% - 27px);
            bottom: -63px;
        }
    }

    .welcome__title--description{
        text-align: center;
        font-size: 20px;
        color: #b0a99c;
        position: relative;
        margin-bottom: 110px; 

        &::before {
            content: "";
            background-color: #b0a99c;
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -51px;
        }
        &::after {
            content: "";
            background-color: #fff;
            background-image: url(../image/eye.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 54px;  
            height: 26px;
            position: absolute;
            left: calc(50% - 27px);
            bottom: -63px;
        }
    }

    .welcome__text,
    .individual__text{
        display: block;

        @media (min-width: 320px) {

        }
        @media (min-width: 1050px){
            display: flex;
        }

        .welcome__text--part1,
        .welcome__text--part2,
        .individual__text--part1,
        .individual__text--part2{
            width: 100%;

            @media (min-width: 320px) {

            }
            @media (min-width: 1050px){
                width: 50%;
            }
        }
        .individual__text--part1{
            order: 1;
        }

        .welcome__text--part1 p,
        .welcome__text--part2 p,
        .individual__text--part1 p,
        .individual__text--part2 p{
            font-size: 14px;
            line-height: 1.6;

            @media (min-width: 320px) {
            }
            @media (min-width: 1050px){
                font-size: 18px;
            }
        }
        .welcome__text--part1 p,
        .individual__text--part1 p{

            &:nth-child(3){         
                @media (min-width: 320px) {
                    margin-bottom: 20px;
                }
                @media (min-width: 1050px){
                    margin-bottom: 0;
                }
            }
            &:nth-child(2){
                font-size: 30px;
                line-height: 28px; 
                font-family: "Lora";
                margin: 40px 0 20px 0;
            }
        }
        .welcome__text--part2 p,
        .individual__text--part2 p{
            margin-bottom: 24px;
            &:nth-last-child(1){
                margin-bottom: 0px;
            }
        }
        
    }
    
}

// --------------------------------------------------------SECTION categories

.categories{
    background-color: #f1ede4;
    width: 100%;

    .categories__conteiner{
        max-width: 1372px;
        margin: auto;
        display: flex;
        
        .categories__box{
            box-sizing: border-box;
            background-color: #8cc2b7;
            max-width: 432px;
            color: #ffffff;

            @media (min-width: 320px) {
                margin: 20px 10px 0 10px;
            }
            @media (min-width: 1050px){
                margin:125px 0;
            }

            .box__inside{
                text-align: center;

                @media (min-width: 320px) {
                    padding: 20px 20px;
                }
                @media (min-width: 1050px){
                    padding: 76px 41px 71px 41px;
                }

                span{
                    display: block;
                    width: 74px;
                    height: 44px;
                    margin: auto;
                    margin-bottom: 62px; 
                    position: relative;

                    img{
                        position: absolute;
                        bottom: 0;
                    }
                }

                .box__inside--title{
                    margin-bottom: 23px;
                    font-family: "Lora";
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 45px;
                    position: relative;

                    &::before {
                        content: "";
                        width: 90px;
                        height: 2px;
                        background-color: #ffffff;
                        opacity: 0.3;
                        position: absolute;
                        right: calc(50% - 45px);
                        top: -30px;
                    }
                }

                .box__inside--text{
                  
                    @media (min-width: 320px) {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 28px;
                    }
                    @media (min-width: 1050px){
                        font-size: 18px;
                        letter-spacing: 1px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

// --------------------------------------------------------SECTION map
.map__frame{
    width: 100%;      
    height: 550px;
}
// --------------------------------------------------------SECTION advantages
.advantages{
    background-color: #f1ede4;
 
    .advantages__conteiner{
        box-sizing: border-box;
        max-width: 1372px; // --------------------------------------------------------
        margin: auto;
        display: flex;

        @media (min-width: 320px) {
            flex-wrap: wrap;
        }
        @media (min-width: 1050px){
            flex-wrap: nowrap;
        }

        .advantages__picture{
            background-image: url(../image/carusel/Ebene_5.png);
            background-repeat: no-repeat;
            min-height: 120px;
  
            @media (min-width: 320px) {
                width: 100%;
                background-size: contain;
                background-position: center;
                padding: 0 10px;
            }
            @media (min-width: 1050px){
                width: 50%;
                background-size: initial;
                background-position: right;
                padding: 0;
            }
        }

        .advantages__text{

            max-width: 648px;  
            height: 248px;

            @media (min-width: 320px) {
                padding: 20px 10px;
            }
            @media (min-width: 1050px){
                padding: 152px 0;
            }

            .advantages__text--title{
                font-family: "Lora";
                padding-bottom: 15px;

                @media (min-width: 320px) {
                    text-align: center;
                    font-size: 30px;
                }
                @media (min-width: 1050px){
                    font-size: 44px;
                    text-align: unset;
                }
                
                // .order__text--location{
                //     font-family: 'Open Sans';
                //     padding-bottom: 44px;


                // }               
            }
            .advantages__text--location{
                padding-bottom: 20px;
                text-align: center;

                 @media (min-width: 320px) {
                    font-size: 16px;
                    line-height: 20px;
                    }
                @media (min-width: 1050px){
                    font-size: 25px;
                    padding-bottom: 60px;
                    line-height: 50px;
                    text-align: unset;
                    }
            }
            .advantages__text--item{
                font-size: 15px;
                padding-bottom: 10px;
      
                @media (min-width: 320px) {

                    }
                @media (min-width: 1050px){
                    font-size: 22px;
                    padding-bottom: 15px;
                    }

                span{
                    width: 40px;
                    height: 22px;
                    display: inline-block;
                    background-image: url(../image/check_box.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }      
    }
}
// --------------------------------------------------------SECTION Form

.section-white{
    max-width: 1372px;
    margin: auto;
    

    @media (min-width: 320px) {
        padding: 20px 0;
    }
    @media (min-width: 1050px){
        padding: 150px 0;
    }
    
    &__title{
        text-align: center;
        font-family: "Lora";
        margin: 0  0 10px 0;

            @media (min-width: 320px) {
                font-size: 28px;
            }
            @media (min-width: 1050px){
                font-size: 32px;
            }
        }

    &__description{
        text-align: center;
        font-size: 20px;
        color: #b0a99c;
        position: relative;
        margin-bottom: 110px; 
    
        &::before {
            content: "";
            background-color: #b0a99c;
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -51px;
        }
        &::after {
            content: "";
            background-color: #fff;
            background-image: url(../image/eye.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 54px;  //chek
            height: 26px;
            position: absolute;
            left: calc(50% - 27px);
            bottom: -63px;
        }
    } 
}
.main-form{
    display: block;

    @media (min-width: 320px) {
    }
    @media (min-width: 1050px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__first-block,
    &__second-block,
    &__checkbox-block,
    &__button-block{
        @media (min-width: 320px) {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box; //------------------------------------------------------------------------
        }
        @media (min-width: 1050px){
            max-width: 48%;
            padding: 0;
        }
    }

    &__box{
        padding-bottom: 20px;
        display: flex;
    }

    &__label{
        width: 83px;
        // height: 84px;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: #f1ede4;
    }

    &__name-label{
        background-image: url(../image/form/name.png);   
    }
    &__email-label{
        background-image: url(../image/form/email.png);   
    }
    &__tel-label{
        background-image: url(../image/form/tel.png);   
    }


    &__input{
        width: 581px;
        height: 82px;
        border: 1px solid #f1ede4;
        background-color: #fcfcfc;
        opacity: 0.7;
        color: #363636;
        padding: 0 30px;
    }

    &__textarea{
        width: 100%;
        max-width: 580px;
        height: 190px;
        border: 1px solid #f1ede4;
        background-color: #fcfcfc;
        padding: 34px 30px;
        opacity: 0.7;   
        color: #363636;
        box-sizing: border-box;
    }
    &__date-label{
        background-image: url(../image/form/date.png);   
    }

    &__textarea-label{
        width: 83px;
        height: 190px;
        background-image: url(../image/form/massege.png);   

        @media (min-width: 320px) {
            display: none;
        }
        @media (min-width: 1050px){
            display: flex;
        }
    }

    &__button{
        height: 63px;
        background-color: #96d0c4;
        border: none;
        color: #fff;
        font-size: 18px;

        @media (min-width: 320px) {
            width: 100%;
        }

        @media (min-width: 1050px){
            width: 254px;
        }

        &__arrow{
            position: relative;
        }
        
        &__arrow:after {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 9px;
            left: 5px;
            display: inline-block;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            content: '';
            -webkit-transition: inherit;
            transition: inherit;
            -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-135deg);;
        }
    } 

    &__checkbox-block{
        @media (min-width: 320px) {
            margin-bottom: 20px;
            text-align: center;
        }

        @media (min-width: 1050px){
            margin: 0;
            text-align: unset;
        }
    }
    
    &__checkbox{
        width: 16px;
        height: 16px;

        @media (min-width: 320px) {
            margin-right: 10px;
        }

        @media (min-width: 1050px){
            margin-right: 20px;
        }
    }

    &__checkbox-label{

        @media (min-width: 320px) {
            font-size: 14px;
            line-height: 20px;
        }

        @media (min-width: 1050px){
            font-size: 18px;
            line-height: 40px;
        }

        &--link{
            color: #66bdaa;
            text-decoration: none;
            font-weight: 700;
        }
    }
}


// --------------------------------------------------------FOOTER

.documents{
    width: 100%;
    background-color: #8cc2b7;

    .documents__list{
        max-width: 1372px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .documents__item{
            display: block;
            font-size: 18px;
            color: #fff;
            margin-right: 60px; 
            
        @media (min-width: 320px) {
            padding: 20px 10px; 
        }

        @media (min-width: 1050px){
            padding: 23px 27px; 
        }

            &:hover,
            &:active{
                background-color: #363636;; 
            }
        }
        .active{
            background-color: #363636;;
        }
        

    }
}

.footer__contact{
    padding: 46px 0 52px 0;

}










